@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<div class="container">
    <div class="text-center">
        <h4>Receptförslag</h4>
		@if (Model.RecipeResult != null)
		{
            
			<table class="table table-striped">
				<tbody>
                    @foreach (var recipe in Model.RecipeResult.Recipes)
                    {
                        <tr>
                            <td>
                                <a asp-page="/RecipeDetailsPage" asp-route-recipeId="@recipe.Id">
                                    @recipe.Title
                                </a>
                            </td>
                            <td>
                                
                                <p>@recipe.PreambleHTML.ToString()</p>
                                
                            </td>
                            <td><img src="@recipe.ImageUrl" height="150"></td>
                        </tr>
                    }

				</tbody>
			</table>
		}

        @* @if (Model.RecipeResult != null)
        {
        <p>@Model.RecipeResult.Recipes.Count</p>
        @foreach (var r in Model.RecipeResult.Recipes)
        {
        <p>@r.Title</p>
        }
        } *@
    </div>
</div>
